@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content"> 
  <div class="centered-container">
    <div class="text-center">
      <h1 class="display-4">Velkommen</h1>
      <p>
       På kartet kan du identifisere trygge og egnede områder for bygging
        <br>
        med hensyn til klimautfordringer, forurensning og naturfarer.
      </p>

     <div class="margin-top">
       <a asp-controller="Home" asp-action="Map" class="btn" >Gå til kart</a>
     </div>
   </div>
  </div> <!-- Gjor d fint og pent -->

  <div class="blurred-bakgrunn">
  </div>
</div> <!-- main-content -->

