@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>title</title>

<div id="map-container">
    <div id="map"></div>

    <aside id="sidebar">
        <h4>Datasett</h4>
        <label><input type="checkbox" id="toggleFlom" checked> Flomområder</label><br>
        <label><input type="checkbox" id="toggleVeier"> Veier</label>
        <label><input type="checkbox" id="toggleBygninger"> Bygninger</label>

        
    </aside>
</div>

@section Scripts {
    <script src="https://unpkg.com/rbush@3.0.1/rbush.min.js"></script>
    <script src="~/js/map.js"></script>
}