@{
    ViewData["Title"] = "Personvern";
}

<div id="main-content"> 
  <div class="centered-container-personvern">
    <div class="text-center">
      <h1 class="main">Personvern</h1>

      <h2 class="sub">Hva vi samler inn</h2>
      <ul class="ulPersonvern">
        <li>Vi samler ikke inn noen personlige data fra brukerne våre.</li>
        <li>Du kan bruke tjenesten vår helt anonymt og uten bekymringer.</li>
      </ul>

      <h1 class="main">Om oss</h1>
      <h2 class="sub">Gruppe 12</h2>
      <p class="description">
        Vi er en gruppe studenter fra Universitetet i Agder som har utviklet et interaktivt GIS-prosjekt. 
        Målet vårt er å lage brukervennlige kartløsninger ved hjelp av moderne webteknologier.
      </p>
      <p class="description">
        Prosjektet kombinerer geografiske data med interaktive funksjoner for å gi en engasjerende og informativ brukeropplevelse.
      </p>

      <h2 class="sub">Gruppemedlemmer</h2>
      <ul class="ulPersonvern">
        <li>Jesper Heidenberg Hansen</li>
        <li>Mathias Thosell</li>
        <li>Liv Gudrunn Staaland</li>
        <li>Ole Martin Hagberg</li>
        <li>Adrian van Mallinckrodt Øien</li>
      </ul>
    </div>
  </div>

  <div class="adrian"></div>
</div>