@{
    ViewData["Title"] = "Personvern";
}

<div id="main-content"> 
  <div class="centered-container-personvern">
    <div class="text-center">
     <h1 class="main">Personvern</h1>

     <h2 class="sub">Hva vi samler inn?</h2>
     <ulPersonvern>
        <li>Hva du gjør på nettsiden vår eller i tjenesten vår</li>
     </ulPersonvern>

      <h2 class="sub">Hvorfor samler vi inn det?</h2>
     <ulPersonvern>
        <li>Gi deg det du ber om</li>
        <li>Forbedre tjenestene våre</li>
        <li>Kontakte deg om nødvendig</li>
      </ulPersonvern>
   </div>
  </div>


  <div class="centered-container-personvern2">
    <div class="text-center">
      <h1 class="main">Hvem er vi?</h1>

    <h2 class="sub">Gruppe 12</h2>
     <ulPersonvern>
       <li>Skriv litt om Hva vi gjør her typ shi</li>
     </ulPersonvern>

     <h2 class="sub">Navn elns ¯\_(ツ)_/¯</h2>
     <ulPersonvern>
        <li>Mathias</li>
        <li>Sigmakongen</li>
     </ulPersonvern>
   </div>
  </div>

  <div class="adrian"></div>

</div> <!-- main-content -->
